.main-div{
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 30%;
    position: relative;
}
.image{
    border-radius: 15px;
    width: 80%;
    height: 80%;
    cursor: pointer;
}
.text{
    font-size: 2rem;
    position: absolute;
    left: 32%;
    top:65%;
    color:whitesmoke
}
.image:hover{ 
    box-shadow: 1px 8px 20px grey;
  
 }
.delete{
    position: absolute;
    top:-70%;
    right:25%;

}
